<div class="list-container" [class.centerContent]="loadingData || noResults || errorResponse">
  <ng-container *ngIf="!errorResponse else error">
    <div *ngIf="noResults">No cities found with <strong>{{filterText}}</strong> :(</div>
    <ng-container *ngIf="!noResults">
      <cdk-virtual-scroll-viewport *ngIf="!loadingData else loading" itemSize="50" class="list">
        <app-city *cdkVirtualFor="let city of cities$ | async; trackBy: trackBy" [city]="city" [filterText]="filterText"
          [favorite]="preferred.includes(city.geonameid)"></app-city>
      </cdk-virtual-scroll-viewport>
    </ng-container>
  </ng-container>
  <ng-template #loading>
    <mat-spinner></mat-spinner>
  </ng-template>
  <ng-template #error>
    <p>An unexpected error ocurred</p>
    <button mat-raised-button color="primary" (click)="getCities(filterText)">Refresh</button>
  </ng-template>
</div>