<div class="list-container" [class.centerContent]="loadingData || noResults || errorResponse">
  <ng-container *ngIf="!errorResponse else error">
    <div *ngIf="noResults">No results</div>
    <cdk-virtual-scroll-viewport *ngIf="!loadingData else loading" itemSize="50" class="list">
      <app-city *cdkVirtualFor="let city of cities$ | async" [city]="city" [filterText]="filterText"></app-city>
    </cdk-virtual-scroll-viewport>
  </ng-container>
  <ng-template #loading>
    <mat-spinner></mat-spinner>
  </ng-template>
  <ng-template #error>
    <p>An unexpected error ocurred.</p>
    <button (click)="getCities()">Refresh</button>
  </ng-template>
</div>