.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  align-content: center;
  height: 100%;

  h1 {
    text-align: center;
  }

  .container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    .cities-form {
      &--full-width {
        width: 100%;
        margin-bottom: -1.25em;
      }
    }
  }
}
