<section class="main">
  <div class="container">
    <h1>Select your favorite cities in the world</h1>
    <form class="cities-form">
      <mat-form-field class="cities-form--full-width" appearance="fill">
        <mat-icon matPrefix>filter_alt</mat-icon>
        <mat-label>Type to filter by city name or country</mat-label>
        <input type="text" matInput placeholder="Buenos Aires" (keyup)="inputKeyPressed($event)">
      </mat-form-field>
    </form>
    <app-city-list></app-city-list>
  </div>
</section>